// this is the app scss
#weatherapp{
	height: 100%;

	div.mainContainer{
		height: 100%;

		div.searchContainer{
			height: 100%;

			div.headerSection{
				padding: 50px 0 0 50px;
			}

			div.searchSection{
				width: 300px;
				margin: 290px auto 0;
				text-align: center;

				.react-autosuggest__container {
				  position: relative;
				}

				.react-autosuggest__input {
				  width: 240px;
				  height: 50px;
				  padding: 10px 20px 10px 0;
				  font-family: Helvetica, sans-serif;
				  font-weight: 300;
				  font-size: 16px;
				  border: none;
				  border-bottom: 1px solid #fff;
				  background-color: transparent;
				  color: #fff;
				}

				.react-autosuggest__input::placeholder{
				  color: #fff;
				  font-style: italic;
				}

				.react-autosuggest__input--focused {
				  outline: none;
				}

				.react-autosuggest__input--open {
				  border-bottom-left-radius: 0;
				  border-bottom-right-radius: 0;
				}

				.react-autosuggest__suggestions-container {
				  display: none;
				}

				.react-autosuggest__suggestions-container--open {
				  display: block;
				  position: absolute;
				  top: 51px;
				  width: 280px;
				  border: none;
				  background-color: transparent;
				  font-weight: 300;
				  font-size: 16px;
				  z-index: 2;

				  h5{
				  	text-align: initial;
				  	padding-left: 30px;
				  }
				}

				.react-autosuggest__suggestions-list {
				  margin: 0;
				  padding: 0;
				  list-style-type: none;
				}

				.react-autosuggest__suggestion {
				  cursor: pointer;
				  padding: 10px 30px;
				  text-align: initial;
				}

				.react-autosuggest__suggestion--highlighted {
				  // background-color: #ddd;
				  font-weight: 700;
				  font-size: 20px;

				}

			}
		}

	

		//here goes the weather component css
	}

	div.currentWeatherContainer{
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		// flex-direction: column;

		div.conditionSection{

		}

		div.tempConversionSection{

		}
	}
}