// this is the app scss
#weatherapp{
	height: 100%;

	div.mainContainer{
		height: 100%;

		div.searchContainer{
			height: 100%;

			div.headerSection{}

			div.searchSection{
				width: 300px;
				margin: 0 auto 0;
				text-align: center;
			}
		}

	

		//here goes the weather component css
	}
}