// this is the app scss
#weatherapp{
	height: 100%;

	div.mainContainer{
		height: 100%;

		div.searchContainer{
			height: 100%;

			div.headerSection{
				padding: 50px 0 0 50px;
			}

			div.searchSection{
				display: flex;
				justify-content: center;
				height: calc(100% - 100px); // 100px from margin spacing from header section
				align-items: center;

				#geosuggest__wrapper {
					width: 500px;
					position: relative;

					div.geosuggest__suggests-wrapper{
						position: fixed;
						width: inherit;
					}
				}
			}

			// this acts as closing the suggestion - outside click
			.geosuggest__suggests--hidden {
				max-height: 0;
				overflow: hidden;
				border-width: 0;
			}

			.geosuggest__item--active {
				background: #EEEEFD;
			}
		}
	}

	div.currentWeatherContainer{
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		div.searchSection{
			position: absolute;
			top: 10%;
			right: 10%;
			cursor: pointer;
		}

		div.cityNameSection{
			padding: 0px 0 60px;

			h2 {font-size: 50px;}
		}

		div.conditionSection{
			width: 500px;
			text-align: center;

			div.weatherStatus{
				overflow: auto;

				div.weatherCondition{
					font-size: 40px;
					text-align: center;
					text-transform: capitalize;
					margin-bottom: 25px;
				}
			}

			div.currentTempBox{
				overflow: auto;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: row;

				div.currentTemp{
					overflow: auto;
					display: flex;
					justify-content: center;

					div.tempNum{
						font-size: 130px;
						text-align: right;
					}
				}

				div.tempConversionBox{
					font-size: 60px;
					margin-right: 20px;

					div.tempButton{cursor: pointer;}

					div.highlightBtn{font-weight: 700;}
				}
			}

			div.highLowTempBox{
			    overflow: auto;
			    font-size: 25px;
			    display: flex;
			    justify-content: center;
			    align-items: center;

				div.lowTemp{
					margin-right: 10px;
				}

				div.highTemp{
					margin-left: 10px;
				}
			}

		}

	}
}

@media screen and (max-width: 700px){

	#weatherapp{
		div.mainContainer{
			div.searchContainer{
				div.headerSection{
					padding-right: 50px;
					text-align: center;
				}
			}
		}  
	}

}

@media screen and (max-width: 499px){

	#weatherapp{
		div.currentWeatherContainer div.conditionSection{
			width: initial;
		}

		div.currentWeatherContainer div.cityNameSection{
			padding: 0;
		}
	}

}