html{
	width: 100%;
	height: 100%;
}

body{
	background-color: #000;
	color: #fff;
	margin: 0;
	font-family: 'Karla', sans-serif;
}

h1, h2, h3, h4, h5, p {margin: 0;}

h2{font-size: 28px;}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

a:hover{
	color: white;
}

ul {margin: 0; list-style: none; padding: 0;}

li{ margin: 0;}

input {
	width: 100%;
	height: 48px;
	border: 1px solid #e5e7eb;
	padding: 16px 24px;
	font-size: 18px;
	color: #00141D;

	&:focus {
		border-color: #1434E2;
	}

	&:hover {
		border-color: #00141D;
	}

	&:focus-visible {
		outline: none;
	}
}

ul {
	background-color: white;
	color: black;
	width: 100%;

	li {
		padding: 16px 24px
	}

	li:hover{
		background-color: #EDEEF0;
	}

	li:active {
		background-color: #1434E2;
		color: white;
	}
}